In [6]:
import numpy as np
import pandas as pd

# 1 read data set

In [7]:
data=pd.read_csv('star_wars_character_dataset.csv')

# 2 check the heads of the data

In [9]:
data.head(20)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,Unnamed: 12,Unnamed: 13
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,NaN
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,NaN
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,NaN
5,Owen Lars,178.0,120.0,"brown, grey",light,blue,52.0,male,masculine,Tatooine,Human,"Attack of the Clones, Revenge of the Sith, A N...",NaN,NaN
6,Beru Whitesun lars,165.0,75.0,brown,light,blue,47.0,female,feminine,Tatooine,Human,"Attack of the Clones, Revenge of the Sith, A N...",NaN,NaN
7,R5-D4,97.0,32.0,NaN,"white, red",red,NaN,none,masculine,Tatooine,Droid,A New Hope,NaN,NaN
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,masculine,Tatooine,Human,A New Hope,NaN,NaN
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,masculine,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
10,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,masculine,Tatooine,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,NaN
11,Wilhuff Tarkin,180.0,NaN,"auburn, grey",fair,blue,64.0,male,masculine,Eriadu,Human,"Revenge of the Sith, A New Hope",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,NaN
13,Han Solo,180.0,80.0,brown,fair,brown,29.0,male,masculine,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",NaN,NaN
14,Greedo,173.0,74.0,NaN,green,black,44.0,male,masculine,Rodia,Rodian,A New Hope,NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
16,Wedge Antilles,170.0,77.0,brown,fair,hazel,21.0,male,masculine,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",NaN,NaN
17,Jek Tono Porkins,180.0,110.0,brown,fair,blue,NaN,male,masculine,Bestine IV,Human,A New Hope,NaN,NaN
18,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
19,Palpatine,170.0,75.0,grey,pale,yellow,82.0,male,masculine,Naboo,Human,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN

 # 3 describe the data

In [5]:
data.describe()

           height         mass  birth_year  Unnamed: 12  Unnamed: 13
count   80.000000    58.000000   42.000000          0.0          0.0
mean   174.475000    98.213793   88.554762          NaN          NaN
std     34.973761   170.794255  156.428722          NaN          NaN
min     66.000000    15.000000    8.000000          NaN          NaN
25%    167.000000    56.400000   34.000000          NaN          NaN
50%    180.000000    79.000000   52.000000          NaN          NaN
75%    191.000000    84.750000   72.000000          NaN          NaN
max    264.000000  1358.000000  896.000000          NaN          NaN

# 4 show info

In [10]:
data.info

<bound method DataFrame.info of                name  height   mass hair_color    skin_color      eye_color  \
0    Luke Skywalker   172.0   77.0      blond          fair           blue
1             C-3PO   167.0   75.0        NaN          gold         yellow
2             R2-D2    96.0   32.0        NaN   white, blue            red
3       Darth Vader   202.0  136.0       none         white         yellow
4       Leia Organa   150.0   49.0      brown         light          brown
..              ...     ...    ...        ...           ...            ...
76         Grievous   216.0  159.0       none  brown, white  green, yellow
77          Tarfful   234.0  136.0      brown         brown           blue
78  Raymus Antilles   188.0   79.0      brown         light          brown
79        Sly Moore   178.0   48.0       none          pale          white
80       Tion Medon   206.0   80.0       none          grey          black

    birth_year     sex     gender homeworld  species  \
0         19.0    male  masculine  Tatooine    Human
1        112.0    none  masculine  Tatooine    Droid
2         33.0    none  masculine     Naboo    Droid
3         41.9    male  masculine  Tatooine    Human
4         19.0  female   feminine  Alderaan    Human
..         ...     ...        ...       ...      ...
76         NaN    male  masculine     Kalee  Kaleesh
77         NaN    male  masculine  Kashyyyk  Wookiee
78         NaN    male  masculine  Alderaan    Human
79         NaN    male        NaN    Umbara      NaN
80         NaN    male  masculine    Utapau   Pau'an

                                                films  Unnamed: 12  \
0   The Empire Strikes Back, Revenge of the Sith, ...          NaN
1   The Empire Strikes Back, Attack of the Clones,...          NaN
2   The Empire Strikes Back, Attack of the Clones,...          NaN
3   The Empire Strikes Back, Revenge of the Sith, ...          NaN
4   The Empire Strikes Back, Revenge of the Sith, ...          NaN
..                                                ...          ...
76                                Revenge of the Sith          NaN
77                                Revenge of the Sith          NaN
78                    Revenge of the Sith, A New Hope          NaN
79          Attack of the Clones, Revenge of the Sith          NaN
80                                Revenge of the Sith          NaN

    Unnamed: 13
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
76          NaN
77          NaN
78          NaN
79          NaN
80          NaN

[81 rows x 14 columns]>

# 5. Types included in the data

In [13]:
data.dtypes

name            object
height         float64
mass           float64
hair_color      object
skin_color      object
eye_color       object
birth_year     float64
sex             object
gender          object
homeworld       object
species         object
films           object
Unnamed: 12    float64
Unnamed: 13    float64
dtype: object

# 6 count the null in hair column

In [17]:
data["hair_color"].isnull().value_counts()

False    76
True      5
Name: hair_color, dtype: int64

# 7 replace null values

In [20]:
data["hair_color"].fillna(value="brown").head(20)

0             blond
1             brown
2             brown
3              none
4             brown
5       brown, grey
6             brown
7             brown
8             black
9     auburn, white
10            blond
11     auburn, grey
12            brown
13            brown
14            brown
15            brown
16            brown
17            brown
18            white
19             grey
Name: hair_color, dtype: object

# 8 what is the max height

In [23]:
data['height'].max()

264.0

# 9 what is the min height

In [24]:
data['height'].min()

66.0

# 10 the name of the heighest height

In [26]:
data[data['height']== data['height'].max()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,Unnamed: 12,Unnamed: 13
53,Yarael Poof,264.0,NaN,none,white,yellow,NaN,male,masculine,Quermia,Quermian,The Phantom Menace,NaN,NaN

# 11 what is the most 3 hair color

In [32]:
data['hair_color'].value_counts().head(3)

none     36
brown    15
black    12
Name: hair_color, dtype: int64

# 12 what is the most 3 eye color

In [31]:
data['eye_color'].value_counts().head(3)

blue      19
brown     19
yellow    11
Name: eye_color, dtype: int64

# 13 what is the most 3 skin color

In [34]:
data['skin_color'].value_counts().head(3)

fair     17
light     8
grey      6
Name: skin_color, dtype: int64

# 14 what is the common sex

In [35]:
data['sex'].value_counts().head(3)

male      61
female    14
none       5
Name: sex, dtype: int64